@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
  min-height: 100px;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
}

/* Слайд */
.slick-slide {
  margin: 0 10px;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  min-width: 0;
  position: relative;
  padding: 0 17px;
}

.slider .slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
